{:translations/engine {:auth #env OPENAI_TOKEN
                       :retries #long #or [#env AI_RETRIES 5]}
 :tg/bot {:token #env TG_BOT_TOKEN}

 :bot/handler {:translations #ig/ref :translations/engine
               :bot #ig/ref :tg/bot}
 :bot/loop {:bot #ig/ref :tg/bot
            :handler #ig/ref :bot/handler}

 :http/handler {}
 :jetty/server {:ring-handler (ig/ref :ring/handler)
                :host "0.0.0.0"
                :port #long #or [#env HTTP_PORT
                                 8888]
                :join? false}

 :nrepl/server {:port #long #or [#env NREPL_PORT 7888]
                :host "0.0.0.0"}}
